.special-link:hover {
    background-color: #f3f4f6;
    color: #111827;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    transition: 0.2s;
}

.zchowaj {
    /* display: none; */
    height: 0px;
    overflow: hidden;
    /* margin-top: -320px; */

    /* transform: height 0px;
    transition: ease 0.3s;*/

    /* transition: ease 1s; */
}

.pokaz {
    background-color: #ffffff;
    padding: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 100%;
    /* height: 400px; */
    /* transform: height 400px;
    /* transform: scale(1.5); */
    /* transition: ease 0.5s; */
}
